.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.formInnerContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 500px;
  border: 1px solid rgb(63, 63, 63);
  border-radius: 6px;
  height: 500px;
}

.formInnerContainer > div {
  width: 400px;
  margin-bottom: 10px;
}

input[type="text"]:focus {
  background-color: rgba(240, 248, 255, 0) !important;
}

.formHeader {
  font-size: 35px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  align-content: flex-start;
  justify-content: center;

  color: rgb(1, 64, 119);
}

.submitButton {
  margin-top: 50px !important;
  min-width: 100px !important;
}
